* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*NAV*/
#navbar {
  background-color: #d38185;
}
#navbar h3 {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 40px;
}
#navbar a {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 25px;
}
